body {
    margin: 0;
}

.inline-block{
    background-color: bisque;
    display: inline-block;
}


.html {

    display:inline-block ;
    background-color: greenyellow;
    width: 160px;
    height: 150px;
    border: 10px solid rgb(22, 193, 199);
    margin: 25px;
}

img {
    width: 200px;
    height: 350px;
    background-color: blanchedalmond;
    padding: 50px;
    border: 20px solid deeppink;
    margin: 20px;
}

iframe {
    width: 300px;
    height: 260px;
}

video {
    width: 300px;
    height: 400px;
}

