*{
    box-sizing: border-box;
}

.container {
    min-height: 60vh;
    background-color: lightblue;
    display: grid;
    grid-template-areas: 
    'Bangalore Bangalore Delhi pune'
    'Bangalore Bangalore Delhi pune'
    'Mumbai Mumbai Chennai pune';
    
    ;
     grid-auto-columns: 150px;   
    grid-auto-rows: 150px;
}
    

.box {
    color: white;
    font-size: 4rem;
    padding: 1rem;
    

}

.box-1 {
    background-color: brown;
    /* grid-column:Bangalore;
    grid-row:Bangalore; */
    grid-area:Bangalore;
    
}


.box-2 {
    background-color: blueviolet;
    grid-area: Delhi;
}

.box-3 {
    background-color: crimson;
}

.box-4 {
    background-color: darkcyan;
    grid-area: pune;
}

.box-5 {
    background-color: darkgoldenrod;
    grid-area:Mumbai;

}

.box-6 {
    background-color: darkgreen;
    
}

.box-7 {
    background-color: darkmagenta;
}

.box-8 {
    background-color: darkorange;
}

.box-9 {
    background-color: darkred;
}

.box-10 {
    background-color: darkslateblue;
}


@media (max-width:600px) {
    .container {
        grid-template-areas: 
        'Bangalore Bangalore'
        'Delhi Delhi'
        'pune pune'
        'Mumbai Mumbai'
        ;
    }
}