body {
    margin:0;
    font-family: 'Salsa', cursive;
}


.jhalar{
    width: 200px;
    margin-bottom: -190px;
}

.hero-section {
    /* min-height: 100vh; */
    /* background-color: #F99501; */
    background-image: url(/CSS-Projects/03_diwali-wishes/images/orange-backdrop.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.paragraph-and-audio {
    margin-left: 15rem;
}

.hero-section p {
    font-size: 46px;
    /* font-family: 'Salsa', cursive; */
    max-width: 550px;
}


audio::-webkit-media-controls-panel {
     background-color: #FBD8A4;
}

.audio-container{
    background-color: #FBD8A4;
    max-width: max-content;
    border-radius: 45px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

@media (max-width:  840px){
    .first-deepak{
        display: block;
        margin-left: auto;
    }

    .second-deepak,
    .soulful-music,
    .playing-music-icon{
        display: none;
    }

    .paragraph-and-audio{
        margin-left: 1rem;
        /* text-align: center; */
    }
    .jhalar{
        margin-bottom: 0;
    }
    .hero-section p{
        font-size: 32px;
       
    }
    
}


.lakshmi-ganesha-section {
    background-color: #F99501;
    padding-top: 1em;
    /* display: flow-root */
    padding-inline: 1rem;
}

.lakshmi-ganesha-img{
    max-width: 900px;
    width: 100%;
    display: block;
    margin-inline: auto;
}

.horizontal-divider{
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 800px;
    margin-inline: auto;
    /* margin-top: 1rem; */
    margin-bottom: 2rem;
    
}

.horizontal-line{
    height: 2px;
    background-color: #FBD8A4;
    width: 468px; 
}

.circle{
    height: 10px;
    width: 10px;
    background-color: #FBD8A4;
    border-radius: 100%;
    flex-shrink: 0;
}

.lakshmi-ganesha-section h2{
    font-family: 'Style Script', cursive;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

.white-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-card{
    background-color: white;
    max-width: 500px;
    padding: 4rem;
    border-radius: 25px;
    
}

.white-card p{
    font-size: 2rem;

}

.little-girl{
    width: 260px;
    margin-left: -5rem;
}

.lakshmi-ganesha-card{
    background-color: white;
    border-radius: 25px;
    padding: 4rem;
    max-width: 900px;
    display: flex;
}



@media (width < 840px){
    .first-deepak{
        display: block;
        margin-left: auto;
    }
    .second-deepak,
    .soulful-music,
    .playing-music-icon{
        display: none;
    }

    .paragraph-and-audio{
        margin-left: 1rem;
        /* text-align: center; */
    }
    .jhalar{
        margin-bottom: 0;
    }

    .hero-section p{
        font-size: 32px;
       
    }

    .white-card p{
    font-size: 1.25rem;

}

.little-girl{
    width: 160px;
    
}

.white-card{
    padding-block: 1rem;
    padding-left: 2rem;
}

}


@media (max-width: 540px){
    .hero-section p{
        font-size: 24px;
    }

    .first-deepak{
        width: 100%;
        max-width: 280px;
    }
    .lakshmi-ganesha-section h2{
        font-size: 32px; 
    }

        .white-card p{
    font-size: 1rem;

}
}