.square{
    background-color: black;
    width: 300px;
    height: 300px;
    border: 25px solid blue;
    print-color-adjust: exact;
    /* -webkit-print-color-adjust: exact; */
}

/* for screen*/

@media (max-width: 700px) {
   
    .square{
        background-color: rgba(0, 115, 255, 0.425);
        border: 25px solid rgba(128, 0, 0, 0.9);
    }
}

/* @media (width <= 700px) {
   
    .square{
        background-color: rgba(0, 115, 255, 0.425);
        border: 25px solid rgba(128, 0, 0, 0.9);
    }
} */

/* @media (500px <= width <= 700px) {
   
    .square{
        background-color: rgba(0, 115, 255, 0.425);
        border: 25px solid rgba(128, 0, 0, 0.9);
    }
} */

 