:root{
    font-size: 100px;
}


body {
    margin: 0;
}

section{
    background-color: aqua;
    width: 50vw;
    /* height: 50vh; */
    padding: 10vw;
    margin: 10vw;
    border: 1vw solid green;
    font-size: 5rem;
    /* width: 50%;
    padding: 10%;
    font-size: 20px; */
    /* box-sizing: border-box; */
    
}

.box {
    background-color: chartreuse;
    width: 5em;
    padding: 0.5em;
    /* box-sizing: border-box; */
    font-size: 2rem;
}